.kw-event {
   height: 145px;
   min-height: 145px;
}

.kw-event-time {
   span {
      color: $color-4-2-card-supportive-text;
      font-size: 12px;
      line-height: 2.4;
      white-space: nowrap;
   }
}

.kw-event-path {
   div:not(:first-child):before {
      content: "/";
      margin-left: 4px;
      margin-right: 4px;
   }
   div:first-child {
      // Overwrite text truncation for the first item
      > div:first-child {
         overflow: visible;
         text-overflow: inherit;
         white-space: inherit;
      }
   }
   div:last-child {
      @include flexbox; // overrides display: inline-block rule in Kambi CSS
   }
}

.kw-event-team-home,
.kw-event-team-away {
   font-size: 14px;
   line-height: 1.6;
}

.kw-event-header {
   cursor: pointer;
   font-size: 14px;
   line-height: 1.6;

   div { position: relative; }
}

.kw-event-team-stats {
   margin-right: 3px;
   min-height: 9px;
   min-width: 6px;

   &.red-cards {
      background-color: $color-red-card;
   }
}

.kw-sets {
   color: $color-red-dark;
}

.kw-serve {
   animation: fadeInOut 3s;
   -moz-animation: fadeInOut 3s;
   -ms-animation: fadeInOut 3s;
   -webkit-animation: fadeInOut 3s;
   background-color: $color-yellow-card;
   @include border-radius(6px);
   height: 6px;
   left: -10px;
   margin-top: -3px;
   position: absolute;
   top: 50%;
   width: 6px;
}

.kw-event-outcomes {
   outcome-component:first-child {
      margin-left: 0;
   }
}
