<!doctype html>
<html>
<head>
   <title>Live Now Widget</title>
   <meta charset="UTF-8">
   <meta name="apple-mobile-web-app-title" content="Kambi">
   <meta name="description" content="Live Now Widget">
   <meta name="HandheldFriendly" content="True">
   <meta name="MobileOptimized" content="320">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

   <meta name="fragment" content="!"/>

   <meta name="mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <meta name="apple-mobile-web-app-title" content="">

   <!-- build:css -->
   <!-- This section will be replaced in the gulp build process -->
   <link rel="stylesheet" type="text/css" href="transpiled/css/app.css"/>
   <!-- endbuild -->

   <!-- Customer CSS -->
   <link rel="stylesheet" type="text/css" rv-href="customCss"/>

   <link rel="stylesheet" type="text/css" rv-href="widgetCss"/>

   <!-- build:third-party-libs -->
   <script src="https://s3-eu-west-1.amazonaws.com/kambi-widgets/widget-third-party/v1.2.0/thirdparty.js"></script>
   <!-- endbuild -->

   <!-- build:kambi-widget-api -->
   <!-- This section will be replaced in the gulp build process -->
   <script src="https://c3-static.kambi.com/sb-mobileclient/widget-api/1.0.0.10/kambi-widget-api.js"></script>
   <!-- endbuild -->
</head>
<body class="kw-body rv-cloak">
<div class="KambiWidget-card-background-color KambiWidget-card-text-color l-flexbox l-vertical l-expander">
   <!--Header-->
   <header class="kw-header KambiWidget-header l-pl-16">
      {'Live' | translate }&nbsp;{'Right Now' | translate} ({eventsLength})
   </header>

   <!--Main-->
   <main class="l-flexbox l-vertical l-flexed l-pack-start">
      <div class="kw-event KambiWidget-card-background-color--hoverable l-flexbox l-vertical l-pb-12 l-pt-12"
           rv-each-liveevent="_events"> <!-- TODO add rv-anim-stagger="index" but find a way to prevent the animation when updating-->

         <!--Competitors and path-->
         <div class="kw-event-name-container l-flexbox l-vertical l-pack-start l-flex-3 l-pl-16 l-pr-16">

            <!--Competitors-->
            <div class="kw-event-header l-flexbox l-horizontal" rv-on-click="liveevent.navigateToLiveEvent">

               <!--Team name-->
               <div class="l-flexbox l-vertical l-flexed l-flex-3">
                  <div class="l-flexbox">
                     <span rv-class-kw-serve="liveevent.liveData.statistics.setBasedStats.homeServe"></span>
                     <span class="text-truncate">{liveevent.event.homeName}</span>
                  </div>

                  <div class="l-flexbox">
                     <span rv-class-kw-serve="liveevent.liveData.statistics.setBasedStats.homeServe | not"></span>
                     <span class="text-truncate">{liveevent.event.awayName}</span>
                  </div>
               </div>

               <!--Scores-->
               <div class="kw-event-score l-flexbox l-vertical">
                  <!--Home set score-->
                  <div rv-if="liveevent.liveData.statistics | != null" class="l-flexbox l-pack-center l-align-center l-flexed l-mr-6">
                     <div class="kw-event-team-stats red-cards"
                        rv-if="liveevent.liveData.statistics.footballStats.home.redCards | > 0">
                     </div>

                     <div class="l-flexbox" rv-if="liveevent.showScore">
                        <div class="l-flexbox" rv-each-scoreset="liveevent.liveData.statistics.setBasedStats.home">
                           <div class="kw-event-team-sets l-flexed l-pack-center l-mr-12"
                                 rv-if="scoreset | >= 0">
                              <strong class="l-pack-center l-flexbox">{scoreset}</strong>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!--Away set score-->
                  <div rv-if="liveevent.liveData.statistics | != null" class="l-flexbox l-pack-center l-align-center l-flexed l-mr-6">
                     <div class="kw-event-team-stats red-cards"
                        rv-if="liveevent.liveData.statistics.footballStats.away.redCards | > 0">
                     </div>

                     <div class="l-flexbox" rv-if="liveevent.showScore">
                        <div class="l-flexbox" rv-each-scoreset="liveevent.liveData.statistics.setBasedStats.away">
                           <div class="kw-event-team-sets l-flexed l-pack-center l-mr-12"
                                 rv-if="scoreset | >= 0">
                              <strong class="l-pack-center l-flexbox">{scoreset}</strong>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!--Score-->
               <div class="kw-event-score l-flexbox l-vertical">
                  <span rv-class-kw-sets="liveevent.liveData.statistics.setBasedStats"
                        class="l-flexbox l-pack-end"><strong>{liveevent.liveData.score.home}</strong></span>
                  <span rv-class-kw-sets="liveevent.liveData.statistics.setBasedStats"
                        class="l-flexbox l-pack-end"><strong>{liveevent.liveData.score.away}</strong></span>
               </div>

            </div>

            <div class="l-flexbox">
               <!--Event path-->
               <div class="kw-event-path KambiWidget-card-support-text-color l-flexbox l-horizontal l-flexed l-flex-5 l-pt-6">
                  <div class="l-flexbox l-horizontal l-pack-center text-truncate">
                     <div class="l-flexbox text-truncate" rv-each-p="liveevent.event.path">
                        <span class="kw-event-path-name l-flexbox">
                           <span class="text-truncate">{p.name}</span>
                        </span>
                     </div>
                  </div>
               </div>

               <!--Event time-->
               <div class="kw-event-time">
                  <span class="l-flexbox l-pack-center" rv-if="liveevent.timer | != null">{liveevent.timer}</span>
               </div>
            </div>
         </div>

         <div rv-if="liveevent.betOffers.outcomesLength | <= 3"
               class="kw-event-outcomes l-flexbox l-pl-16 l-pr-16 l-pb-12">
            <outcome-component rv-each-outcome="liveevent.betOffers.outcomes"
                  outcome-attr="outcome" event-attr="liveevent.event">
            </outcome-component>
         </div>
      </div>
   </main>
   <!--Footer-->
   <footer class="kw-footer">
      <div id="pagination" class="kw-pagination l-flexbox l-pack-center l-align-center"></div>
   </footer>
</div>

<!-- build:js -->
<!-- This section will be replaced in the gulp build process -->
<script src="/node_modules/widget-core-library/src/transpiled/js/coreLibrary.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Module/widgetModule.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Module/offeringModule.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Module/statisticsModule.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Module/translationModule.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Module/utilModule.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Component/Component.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Component/PaginationComponent/PaginationComponent.js"></script>
<script src="/node_modules/widget-core-library/src/transpiled/js/Component/OutcomeComponent/OutcomeComponent.js"></script>
<script>
   CoreLibrary.development = true;
</script>
<script src="transpiled/js/app.js"></script>
<!-- endbuild -->
</body>
</html>
